// button {
//   cursor: pointer;
// }

// .burger {
//   position: relative;
//   width: 25px;
//   height: 25px;
//   outline: none;
//   i {
//     display: inline-block;
//     position: absolute;
//     left: 0;
//     width: 100%;
//     height: 3px;
//     border-radius: 2px;
//     opacity: 1;
//     background-color: $primary-color;
//     &:first-child,
//     &:nth-child(3) {
//       transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &:first-child {
//       top: 3px;
//     }
//     &:nth-child(2) {
//       top: 11px;
//       transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &:nth-child(3) {
//       top: 19px;
//     }
//   }
// }
