@include breakpoint(960px) {
  @include font-face(AppetiteNew, '../fonts/AppetiteNew');
  @include font-face(NautilusPompilius, '../fonts/NautilusPompilius');
}

// @font-face {
// 	font-family: "Samplino";
// 	src: url("fonts/Samplino.eot?") format("eot"),
// 		 url("fonts/Samplino.woff2") format("woff2"),
// 		 url("fonts/Samplino.woff") format("woff"),
// 		 url("fonts/Samplino.ttf") format("truetype"),
// 		 url("fonts/Samplino.svg#Samplino") format("svg");
// }
