.hero {
  position: relative;
  // background: $dark-gray url(../../assets/img/bg-hero.jpg) 50% 50% no-repeat / cover;
  // background-attachment: fixed;
  img {
    &[src*='bg'] {
      min-width: 100%;
    }
  }
  &.with-content {
    img {
      &[src*='bg'] {
        position: absolute;
        z-index: -1;
        max-width: none;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.hero-slide-inner {
  box-sizing: border-box;
  padding: rem-calc(78 0 0);
}

.hero-content {
  padding: rem-calc(10);
  border-radius: rem-calc(10);
  background-color: rgba($white, 0.82);
  box-shadow: 1px 1px 20px rgba($black, 0.22);
}

.hero-picture {
  position: relative;
  img {
    position: absolute;
    bottom: rem-calc(-123);
    left: rem-calc(-173);
    z-index: 1;
  }
}
