.map,
.map-contacts {
  margin-bottom: rem-calc(20);
}

.map {
  width: 100%;
  height: rem-calc(400);
}

.map-address {
  margin-bottom: 0;
  width: 100%;
  border-radius: 0;
  font-size: rem-calc(18);
  font-weight: $global-weight-normal;
  text-transform: none;
  letter-spacing: 0;
  user-select: none;
  color: $anchor-color;
  background-color: rgba($white, 0.85);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.21);
  &:hover,
  &:focus,
  &.hover {
    color: $anchor-color;
    box-shadow: none;
    .text-info {
      border-color: transparent;
    }
  }
  &:focus {
    background-color: rgba($white, 0.85);
  }
  &:hover,
  &.hover,
  &.hover:focus {
    background-color: rgba($primary-color, 0.85);
  }
  &.hover {
    font-size: rem-calc(20);
    line-height: unitless-calc(18, 20);
    font-weight: $global-weight-bold;
  }
  .text-info {
    display: inline-block;
    border-bottom: 1px solid $anchor-color;
    transition: border-color 0.2s ease;
  }
}

.map-address-pane {
  position: relative;
  display: none;
  padding: 0;
  width: 100%;
}

.map-address-info {
  position: relative;
  padding-top: rem-calc(8);
  padding-bottom: rem-calc(2);
  width: 100%;
  border: 10px solid rgba($primary-color, 0.85);
  background-color: $white;
  &:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent $white transparent;
    transform: translateX(-50%);
  }
}

.map-address-title {
  margin-bottom: rem-calc(10);
}
