@include breakpoint(small only) {
  // Home page
  .home {
    .button {
      letter-spacing: 0;
    }
  }
  .button {
    padding-left: 1em;
    padding-right: 1em;
  }
  .content {
    blockquote {
      font-size: rem-calc(20);
    }
  }
  .hero-content {
    margin: 0 auto;
  }
  .hero-content,
  .blocks .card {
    max-width: rem-calc(400);
  }
  .company {
    height: rem-calc(120);
  }
  .map-address {
    padding-top: rem-calc(16);
    padding-bottom: rem-calc(16);
  }
  .footer {
    .logo {
      margin: rem-calc(-30) auto rem-calc(10);
    }
  }
  .footer-col {
    &.logo-col {
      background-color: #211c1c;
    }
  }
  .copyright {
    font-size: rem-calc(14);
  }

  // Inner page
  .page {
    table {
      td {
        &:first-child {
          font-weight: 600;
        }
      }
    }
  }

  // Franchise page
  .franchise {
    .head {
      .callback {
        margin-left: auto;
      }
    }
  }
}

@include breakpoint(medium) {
  // Home page
  .section {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
  }
  .head {
    padding-top: rem-calc(18);
    padding-bottom: rem-calc(15);
    .logo {
      margin-top: rem-calc(-23);
    }
  }
  .logo {
    max-width: rem-calc(135);
  }
  .navigation {
    .main-menu {
      margin-left: rem-calc(-10);
      margin-right: rem-calc(-10);
    }
  }
  .hero-content {
    padding: rem-calc(20 40);
    border-radius: rem-calc(30);
    box-shadow: 1px 1px 98px rgba($black, 0.22);
    .button {
      padding: rem-calc(20 48 22);
    }
  }
  .blocks {
    .card {
      margin-bottom: rem-calc(20);
    }
  }
  .map-wrapper {
    position: relative;
    .map-contacts {
      position: absolute;
      top: 0;
      right: -10px;
      width: rem-calc(300);
    }
  }
  .map {
    margin-bottom: 0;
  }
  .map-address {
    letter-spacing: 0;
  }
  .footer {
    .main-menu {
      padding-top: rem-calc(40);
      align-items: flex-start;
    }
  }
  .footer-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .copyright,
  .scl-link {
    margin-top: auto;
  }
  .scl {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(28);
  }
  .scl-menu {
    &.simple {
      li {
        & + li {
          margin-left: rem-calc(20);
        }
      }
    }
  }

  // Inner page
  .page {
    &.franchise {
      .hero {
        padding-top: rem-calc(140);
      }
    }
    .hero {
      height: rem-calc(400);
      height: 50vh;
    }
    .map-wrapper,
    .map {
      height: rem-calc(655);
    }
  }
  .content-card {
    padding: rem-calc(30 20);
  }
  .content-card-title {
    font-size: rem-calc(27);
  }

  // Offer page
  .offer-program {
    .tabs-content {
      margin-bottom: rem-calc(20);
    }
  }
  .custom-tabs {
    display: flex;
    justify-content: space-between;
    &:before,
    &:after {
      display: none;
    }
    .tabs-title {
      flex: 0 1 rem-calc(220);
    }
  }

  // Wedding page
  .wedding-info {
    font-size: rem-calc(18);
    line-height: 1.5;
    .lead {
      font-size: rem-calc(18);
      line-height: 1.5;
    }
  }
  .wedding-rules {
    padding-bottom: rem-calc(30);
    & > .cell {
      & + .cell {
        border-left: 1px solid lightgrey;
      }
    }
  }
  .wedding-rule {
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(10);
  }
  .advert {
    padding: rem-calc(20);
  }

  // News page
  .news-item {
    margin-bottom: rem-calc(20);
    padding: rem-calc(18 20 25);
    img {
      margin-top: rem-calc(7);
      max-width: rem-calc(200);
    }
  }

  // Contact page
  .contact-title {
    font-size: rem-calc(22);
  }

  // Cafe page
  .work-item {
    margin-bottom: rem-calc(20);
  }

  // Franchise page
  .franchise {
    .head {
      .logo {
        margin-left: auto;
        max-width: 100%;
        text-align: right;
      }
      .callback-phone {
        display: inline-block;
        margin-bottom: rem-calc(12);
        font-size: rem-calc(28);
        font-weight: $global-weight-bold;
      }
    }
    .hero-content {
      margin-bottom: rem-calc(20);
    }
    .hero-title {
      margin-top: rem-calc(-60);
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(35);
      max-width: rem-calc(590);
      font-size: rem-calc(25);
    }
    .hero-subtitle {
      font-size: rem-calc(21);
    }
    .hero-content-title {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-bottom: rem-calc(20);
      padding-top: rem-calc(40);
      padding-bottom: rem-calc(40);
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 15%;
        transform: translate(-50%, -50%);
      }
    }
    .content-title-part {
      flex-basis: 50%;
      padding-left: rem-calc(20);
      padding-right: rem-calc(20);
      &.right {
        padding-left: rem-calc(40);
      }
    }
    .advantages {
      .card {
        margin-bottom: 0;
      }
    }
  }
  .banner-title {
    font-size: rem-calc(40);
  }
  .pluses-item {
    margin-bottom: rem-calc(20);
    height: rem-calc(157);
  }
  .tariff-title {
    font-size: rem-calc(16);
  }
  .tariff-subtitle {
    font-size: rem-calc(15);
  }
  .franchise-pluses {
    .pluses-item {
      margin-bottom: rem-calc(15);
      height: rem-calc(112);
    }
  }
  .franchise-contact {
    .franchise-contact-phone {
      font-size: rem-calc(30);
    }
  }
  .mockup {
    .section-title {
      font-size: rem-calc(56);
    }
    .section-subtitle {
      font-size: rem-calc(42);
    }
  }

  // 404 page
  .error-page {
    .head {
      padding-bottom: 0;
      .logo {
        max-width: rem-calc(186);
      }
    }
  }
  .error-content {
    img {
      margin-top: rem-calc(-27);
    }
  }
}

@include breakpoint(large) {
  // Home page
  p {
    margin-bottom: rem-calc(28);
  }
  .section-title {
    margin-bottom: rem-calc(54);
  }
  .head {
    padding-top: rem-calc(38);
    padding-bottom: rem-calc(85);
    &.is-stuck {
      padding-top: rem-calc(11);
      padding-bottom: rem-calc(12);
    }
    .logo {
      margin: rem-calc(-46 0 0);
    }
  }
  .logo {
    max-width: none;
  }
  .navigation {
    .main-menu {
      padding-top: rem-calc(21);
      li {
        font-weight: $global-weight-bold;
      }
    }
  }
  .callback-phone {
    display: inline-block;
    margin-bottom: rem-calc(12);
    font-size: rem-calc(28);
    font-weight: $global-weight-bold;
  }
  .hero-content {
    padding: rem-calc(30 50);
  }
  .hero-slide-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: rem-calc(95);
    min-height: rem-calc(630);
    max-height: rem-calc(843);
  }
  .menus {
    padding-top: rem-calc(106);
    padding-bottom: rem-calc(30);
  }
  .blocks {
    .card {
      margin-bottom: rem-calc(27);
      min-height: rem-calc(350);
    }
  }
  .custom-list {
    li {
      margin-bottom: rem-calc(36);
    }
  }
  .card-info {
    padding-top: rem-calc(25);
  }
  .advantages {
    padding-top: rem-calc(401);
    padding-bottom: rem-calc(172);
    .card {
      padding-top: rem-calc(45);
    }
  }
  .about {
    padding-top: rem-calc(42);
    padding-bottom: rem-calc(30);
    p {
      margin-bottom: rem-calc(30);
    }
    img {
      margin-bottom: rem-calc(56);
    }
    .section-title {
      margin-bottom: rem-calc(50);
    }
    .section-subtitle {
      margin-bottom: rem-calc(40);
    }
  }
  .about-info {
    padding-left: rem-calc(27);
    blockquote {
      margin-left: rem-calc(-15);
    }
  }
  .feedback {
    padding-top: rem-calc(54);
    padding-bottom: rem-calc(35);
    .section-title {
      margin-bottom: rem-calc(64);
    }
  }
  .review {
    padding: rem-calc(30 20 20);
  }
  .map-wrapper {
    .map-contacts {
      top: rem-calc(30);
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  .map {
    height: rem-calc(700);
  }
  .map-contact {
    position: relative;
  }
  .map-address {
    padding-top: rem-calc(33);
    padding-bottom: rem-calc(37);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.21);
  }
  .map-address-pane {
    position: absolute;
  }
  .map-address-info {
    margin-top: rem-calc(-25);
  }
  .footer {
    .main-menu {
      padding-top: rem-calc(51);
    }
  }
  .footer-col {
    &.menu-col {
      padding-left: rem-calc(40);
    }
  }
  .scl-title {
    margin-bottom: rem-calc(31);
  }
  .scl-link {
    margin-bottom: 0;
  }

  // Inner page
  .page {
    &.franchise {
      .hero {
        padding-top: rem-calc(228);
        padding-bottom: rem-calc(50);
      }
      .advantages {
        .section-title {
          margin-bottom: rem-calc(45);
        }
        .blocks {
          max-width: rem-calc(1260);
        }
      }
      .pluses {
        .section-title {
          margin-bottom: rem-calc(60);
        }
      }
      .profit {
        .section-title {
          margin-bottom: rem-calc(126);
        }
      }
      .profit-inner {
        max-width: rem-calc(1260);
      }
      .franchise-pluses {
        .section-title {
          margin-bottom: rem-calc(90);
        }
      }
      .video {
        .section-title {
          margin-bottom: rem-calc(88);
        }
      }
      .mockup {
        .section-title {
          margin-bottom: rem-calc(15);
        }
      }
    }
    .burger i {
      background-color: $anchor-color-hover;
    }
    .hero {
      height: rem-calc(550);
      // height: 50vh;
    }
    .callback-phone {
      color: $anchor-color-hover;
    }
    .footer-col {
      min-height: rem-calc(252);
    }
    table {
      th,
      td {
        &:first-child {
          width: rem-calc(380);
        }
        &:nth-child(2) {
          padding-right: rem-calc(45);
          width: rem-calc(460);
        }
        &:nth-child(3) {
          width: rem-calc(120);
        }
        &:nth-child(4) {
          width: rem-calc(180);
        }
      }
      th {
        padding: rem-calc(10 20 42);
        font-size: rem-calc(18);
      }
      td {
        padding: rem-calc(35 20 31);
        font-size: rem-calc(16);
      }
    }
    .advantages {
      padding-top: rem-calc(68);
      .section-title {
        margin-bottom: rem-calc(76);
      }
      .card {
        max-width: rem-calc(340);
      }
    }
  }
  .content-card-title {
    font-size: rem-calc(30);
  }

  // Offers page
  .offers {
    .menus {
      padding-top: rem-calc(61);
      padding-bottom: rem-calc(45);
    }
  }
  .offers-info {
    padding-top: rem-calc(82);
    padding-bottom: rem-calc(108);
    .content-card {
      margin-left: rem-calc(20);
      margin-right: rem-calc(20);
    }
  }
  .content-card {
    padding: rem-calc(87 76 45);
    p {
      max-width: rem-calc(980);
    }
  }
  .content-card-title {
    margin-bottom: rem-calc(45);
  }

  // Offer page
  .offer-program {
    padding-top: rem-calc(64);
    padding-bottom: rem-calc(70);
    .section-title {
      margin-bottom: rem-calc(63);
    }
    .tabs-content {
      margin-bottom: rem-calc(66);
      padding-top: rem-calc(35);
    }
    .tabs-panel {
      padding-bottom: rem-calc(40);
    }
  }
  .offer-info {
    padding-top: rem-calc(67);
    padding-bottom: rem-calc(81);
    .section-title {
      margin-bottom: rem-calc(50);
    }
  }

  // Wedding page
  .wedding {
    .advantages {
      padding-bottom: rem-calc(70);
      .card {
        padding-bottom: rem-calc(14);
        min-height: rem-calc(343);
      }
      .card-picture {
        margin-bottom: rem-calc(12);
      }
    }
    .feedback {
      padding-top: rem-calc(96);
      padding-bottom: rem-calc(22);
      .slider-wrapper {
        margin-bottom: 0;
      }
    }
    .content-card {
      margin: rem-calc(0 20 73);
      padding: rem-calc(85 32 72 65);
    }
    .content-card-title {
      margin-bottom: rem-calc(31);
    }
  }
  .wedding-info {
    padding-top: rem-calc(59);
    font-size: rem-calc(22);
    .section-title {
      margin-bottom: rem-calc(41);
    }
    .lead {
      margin-bottom: rem-calc(54);
      font-size: rem-calc(22);
    }
  }
  .receipt {
    margin-bottom: rem-calc(85);
  }
  .wedding-rules {
    margin-bottom: rem-calc(30);
  }
  .wedding-rule {
    padding-top: rem-calc(83);
    padding-bottom: rem-calc(40);
    justify-content: center;
  }
  .wedding-rule-info {
    max-width: rem-calc(360);
  }
  .advert {
    margin: rem-calc(0 20 24);
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(24);
    border-width: 13px;
    .section-title {
      margin-bottom: rem-calc(34);
    }
    .button {
      padding-left: rem-calc(64);
      padding-right: rem-calc(64);
    }
  }
  .advert-button {
    margin-bottom: rem-calc(59);
  }
  .advert-phone {
    font-size: rem-calc(34);
  }
  .wedding-about {
    padding-bottom: rem-calc(76);
    .section-title {
      margin-bottom: rem-calc(72);
    }
    p {
      &:last-of-type {
        margin-bottom: rem-calc(70);
      }
    }
  }
  .wedding-about-pictures {
    margin-bottom: rem-calc(51);
  }
  .wedding-about-button {
    padding-left: rem-calc(40);
    padding-right: rem-calc(40);
  }
  .wedding-notice-info {
    padding-top: rem-calc(13);
  }

  // News page
  .news-content {
    padding-top: rem-calc(61);
    padding-bottom: rem-calc(77);
    .section-title {
      margin-bottom: rem-calc(42);
    }
  }
  .news-list {
    margin-bottom: rem-calc(54);
  }
  .news-item {
    margin-bottom: rem-calc(30);
    img {
      max-width: none;
    }
  }

  // Contact page
  .contacts-content {
    padding-top: rem-calc(58);
    padding-bottom: rem-calc(37);
    .section-title {
      margin-bottom: rem-calc(74);
    }
    .map-wrapper {
      margin-bottom: rem-calc(72);
    }
  }
  .contact {
    align-items: center;
    margin-bottom: rem-calc(40);
  }
  .contact-info {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(5);
  }
  .contact-title {
    margin-bottom: rem-calc(27);
    font-size: rem-calc(23);
  }
  .contact-details-title {
    margin-bottom: rem-calc(7);
  }

  // Cafe page
  .cafe {
    .advantages {
      padding-bottom: rem-calc(68);
    }
    .reasons-advantages {
      padding-bottom: 0;
    }
    .offers-info {
      padding-bottom: rem-calc(30);
    }
  }
  .work {
    padding-top: rem-calc(90);
    padding-top: rem-calc(56);
  }
  .work-item {
    margin-bottom: rem-calc(52);
    &.large {
      min-height: rem-calc(480);
    }
  }
  .work-info-content {
    padding-top: 0;
    min-height: rem-calc(105);
  }
  .work-title {
    font-size: rem-calc(22);
    line-height: 1.5;
  }
  .clients-advantages {
    .card {
      padding-top: 0;
      min-height: rem-calc(260);
    }
    .card-section {
      flex-grow: 0;
    }
    .card-picture {
      height: rem-calc(90);
    }
  }

  // Franchise page
  .franchise {
    .section {
      padding-top: rem-calc(52);
      padding-bottom: rem-calc(55);
    }
    .head {
      padding-top: rem-calc(36);
      .logo {
        margin-top: 0;
        padding-right: rem-calc(45);
      }
      .callback {
        padding-top: rem-calc(20);
        padding-left: rem-calc(38);
      }
      .callback-phone {
        color: $white;
      }
    }
    .hero-content {
      margin-bottom: rem-calc(32);
    }
    .hero-title {
      margin-top: rem-calc(-95);
      margin-bottom: rem-calc(70);
    }
    .hero-content-title {
      position: relative;
      margin: rem-calc(0 -20 95);
      padding-top: rem-calc(57);
      padding-bottom: rem-calc(52);
      font-size: rem-calc(24);
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 20px 0 0;
        border-color: #ff9500 transparent transparent transparent;
      }
      img {
        max-width: none;
      }
    }
    .content-title-part {
      &.right {
        padding-left: rem-calc(75);
      }
    }
    .advantages {
      .card {
        margin-bottom: rem-calc(28);
      }
      .advantage-picture,
      .advantage-info {
        padding-top: rem-calc(20);
        padding-bottom: rem-calc(20);
      }
    }
    .banner {
      padding-top: rem-calc(80);
      padding-bottom: rem-calc(100);
    }
    .pluses {
      padding-bottom: rem-calc(75);
    }
    .tariffs {
      padding-top: rem-calc(115);
      padding-bottom: rem-calc(60);
    }
    .profit {
      padding-top: rem-calc(77);
      padding-bottom: rem-calc(80);
    }
    .franchise-pluses {
      padding-bottom: rem-calc(38);
    }
    .gallery,
    .video {
      padding-bottom: rem-calc(70);
    }
    .video {
      padding-top: rem-calc(63);
    }
    .mockup {
      padding-top: rem-calc(132);
      padding-bottom: 0;
    }
  }
  .banner-title {
    font-size: rem-calc(55);
  }
  .tariffs {
    .section-title {
      margin-bottom: rem-calc(85);
    }
  }
  .tariff-heading {
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(20);
  }
  .tariff-title {
    margin-bottom: rem-calc(6);
    font-size: rem-calc(26);
  }
  .tariff-subtitle {
    font-size: rem-calc(20);
  }
  .tariff-content {
    padding: rem-calc(35 26 10);
    li {
      padding-top: rem-calc(15);
      padding-bottom: rem-calc(15);
      background-position: 0 18px;
    }
  }
  .profit-content {
    padding-top: rem-calc(24);
    padding-bottom: rem-calc(40);
  }
  .profit-info {
    padding-top: rem-calc(28);
    padding-left: rem-calc(50);
  }
  .profit-slider {
    padding-top: rem-calc(16);
    .slider {
      margin-bottom: rem-calc(70);
    }
    .slider-values {
      font-size: rem-calc(20);
    }
  }
  .slider-sum {
    margin-bottom: rem-calc(45);
    font-size: rem-calc(40);
  }
  .profit-button {
    padding-left: rem-calc(26);
    padding-right: rem-calc(26);
    font-size: rem-calc(15);
  }
  .profit-chart {
    padding-left: rem-calc(28);
    padding-right: rem-calc(10);
  }
  .video {
    .responsive-embed {
      padding-bottom: 0;
      height: rem-calc(480);
    }
  }
  .video-content {
    margin: 0 auto;
    max-width: rem-calc(854);
  }
  .franchise-footer-col {
    padding-top: rem-calc(56);
    padding-bottom: rem-calc(42);
  }
  .franchise-contacts-content {
    margin-left: auto;
    padding: rem-calc(0 10);
    max-width: rem-calc(455);
  }
  .franchise-contacts-list {
    padding-right: rem-calc(12);
    li {
      padding-top: rem-calc(23);
      padding-bottom: rem-calc(23);
    }
  }
  .franchise-contact {
    .franchise-contact-phone {
      margin-top: rem-calc(10);
      font-size: rem-calc(45);
    }
  }
  .franchise-feedback {
    .franchise-contact-title {
      margin-bottom: rem-calc(33);
      padding-top: rem-calc(23);
    }
  }
  .franchise-rights {
    padding-top: rem-calc(25);
    padding-bottom: rem-calc(35);
  }
  .franchise-rights-content {
    max-width: rem-calc(1240);
  }
  .mockup {
    .section-title {
      font-size: rem-calc(78);
    }
    .section-subtitle {
      font-size: rem-calc(54);
    }
  }
  .mockup-picture {
    position: relative;
    top: rem-calc(50);
    z-index: 20;
    margin: rem-calc(-115 0 0 -84);
    img {
      position: relative;
      top: rem-calc(10);
    }
  }

  // 404 page
  .error-page {
    .head {
      .logo {
        margin-top: rem-calc(-54);
        max-width: none;
      }
    }
    .section-title {
      margin-bottom: rem-calc(75);
    }
  }
  .error-content {
    padding-bottom: rem-calc(102);
    .section-title {
      font-size: rem-calc(47);
      line-height: unitless-calc(58, 47);
    }
    img {
      margin-left: rem-calc(-66);
    }
  }
}

@include breakpoint(1200px) {
  // Franchise page
  .franchise-feedback {
    input,
    textarea {
      padding-left: rem-calc(26);
    }
    textarea {
      max-width: rem-calc(380);
      min-height: rem-calc(185);
    }
    .button {
      margin-left: 0;
    }
  }
}

@include breakpoint(1280px) {
  // Home page
  .slider-wrapper {
    .swiper-button-prev,
    .swiper-button-next {
      display: block;
    }
    .swiper-button-prev {
      left: rem-calc(-43);
    }
    .swiper-button-next {
      right: rem-calc(-43);
    }
  }
  .feedback {
    .slider-wrapper {
      margin-bottom: rem-calc(38);
      .swiper-pagination {
        display: none;
      }
    }
  }

  // Contact page
  .contact-details-col {
    padding-top: rem-calc(9);
    padding-bottom: rem-calc(9);
    flex: 0 1 rem-calc(280);
    &:nth-child(2) {
      flex-basis: rem-calc(300);
    }
    &:not(:last-child) {
      padding-bottom: rem-calc(24);
    }
    & + .contact-details-col {
      padding-left: rem-calc(20);
      border-left: 1px solid #dfdfdf;
    }
  }

  // Franchise page
  .profit-content {
    box-shadow: 9px 31px 65px rgba(0, 0, 1, 0.13);
  }
}

@include breakpoint(xlarge) {
  // Home page
  .navigation {
    .main-menu {
      margin-left: rem-calc(-20);
      margin-right: rem-calc(-42);
      li {
        letter-spacing: 0.1em;
      }
    }
  }
  .hero {
    .slider-wrapper {
      .swiper-pagination {
        bottom: rem-calc(65);
      }
    }
  }
  .hero-slide-inner {
    padding-top: rem-calc(200);
    padding-bottom: rem-calc(50);
    height: rem-calc(843);
    // height: 100vh;
  }
  .hero-content {
    padding: rem-calc(51 85 38);
    .page-title {
      margin-bottom: rem-calc(32);
    }
  }
  .about {
    .section-title {
      margin-top: rem-calc(21);
    }
  }
  .footer-col {
    &.menu-col {
      padding-left: rem-calc(92);
    }
  }
  .scl {
    margin-left: rem-calc(-40);
    margin-right: rem-calc(-40);
    background-color: #211c1c;
  }
  .scl-menu {
    &.simple {
      li {
        & + li {
          margin-left: rem-calc(28);
        }
      }
    }
  }

  // Franchise-page
  .franchise-feedback-content {
    padding-left: rem-calc(56);
    max-width: rem-calc(800);
  }
}

@include breakpoint(xxlarge) {
  // Home page
}

@include breakpoint(1800px) {
  // Home page
  .bg-elements {
    position: relative;
    .grid-container {
      position: relative;
      z-index: 2;
    }
  }
  .bg-element {
    position: absolute;
    display: block;
    z-index: 1;
    &.top {
      top: 0;
    }
    &.bottom {
      bottom: 0;
    }
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  .menus {
    .bg-element {
      &.top {
        &.right {
          top: 84px;
          right: -69px;
        }
      }
      &.bottom {
        &.left {
          bottom: 185px;
          left: -160px;
        }
      }
    }
  }
  .about {
    .bg-element {
      &.top {
        &.right {
          top: 162px;
          right: -129px;
        }
      }
    }
  }
  .feedback {
    .bg-element {
      &.top {
        &.left {
          top: -156px;
          left: -17px;
        }
      }
    }
  }

  // Offers page
  .offers {
    .menus {
      .bg-element {
        display: none;
      }
    }
  }
  .offers-info {
    .bg-element {
      &.top {
        &.right {
          top: -108px;
          right: -20px;
          z-index: 3;
        }
      }
    }
  }
  .offer-info {
    .bg-element {
      &.top {
        &.right {
          top: -173px;
          right: -140px;
          z-index: 3;
        }
      }
    }
  }
  .wedding {
    .advantages {
      .bg-element {
        &.top {
          &.left {
            top: -243px;
            left: -17px;
          }
        }
      }
    }
  }
  .wedding-info {
    .bg-element {
      &.top {
        &.right {
          top: 204px;
          right: -20px;
        }
      }
    }
  }
  .about-advantages {
    .bg-element {
      &.top {
        &.right {
          top: -180px;
          right: -100px;
        }
      }
    }
  }
  .work {
    .bg-element {
      &.top {
        &.left {
          top: -140px;
        }
      }
    }
  }
  .reasons-advantages {
    .bg-element {
      &.top {
        &.right {
          top: -170px;
        }
      }
    }
  }
  .franchise {
    .banner {
      padding-bottom: rem-calc(250);
    }
  }
  .banner {
    .bg-element {
      &.top {
        &.left {
          top: -155px;
          left: -85px;
          max-width: 426px;
        }
        &.right {
          top: -30px;
          right: -20px;
        }
      }
    }
  }
  .pluses {
    &.bg-elements {
      padding-top: rem-calc(165);
    }
    .bg-element {
      &.top {
        &.center {
          top: -180px;
          left: 50%;
          transform: translateX(-40%);
        }
      }
    }
  }
  .tariffs {
    .bg-element {
      &.top {
        &.left {
          top: -120px;
          left: -17px;
        }
      }
    }
  }
  .profit {
    .bg-element {
      &.top {
        &.right {
          top: -110px;
          right: -20px;
        }
      }
    }
  }
  .video {
    .bg-element {
      &.top {
        &.left {
          top: -90px;
          left: -17px;
        }
      }
    }
  }
  .mockup {
    .bg-element {
      &.top {
        &.right {
          top: -95px;
          right: -20px;
        }
      }
    }
  }
}
