.svg-advantage-1-dims {
	width: 61px;
	height: 54.19px;
}

.svg-advantage-2-dims {
	width: 57.406px;
	height: 60px;
}

.svg-advantage-3-dims {
	width: 60px;
	height: 58px;
}

.svg-advantage-4-dims {
	width: 51px;
	height: 47.84px;
}

.svg-advantage-5-dims {
	width: 24px;
	height: 24px;
}

.svg-advantage-6-dims {
	width: 58px;
	height: 55.91px;
}

.svg-advantage-7-dims {
	width: 61px;
	height: 60px;
}

.svg-angle-left-dims {
	width: 18px;
	height: 34px;
}

.svg-angle-right-dims {
	width: 18px;
	height: 34px;
}

.svg-arrow-next-dims {
	width: 9.01px;
	height: 16.01px;
}

.svg-arrow-prev-dims {
	width: 9.01px;
	height: 16.01px;
}

.svg-fcb-dims {
	width: 13px;
	height: 23px;
}

.svg-igm-dims {
	width: 381px;
	height: 381px;
}

.svg-ljr-dims {
	width: 335.65px;
	height: 336.03px;
}

.svg-phone-dims {
	width: 1000px;
	height: 1000px;
}

.svg-star-dims {
	width: 18px;
	height: 17px;
}

.svg-vk-dims {
	width: 272.13px;
	height: 159.33px;
}

.svg-wedding-rule-1-dims {
	width: 52px;
	height: 52px;
}

.svg-wedding-rule-2-dims {
	width: 27.8px;
	height: 57px;
}

.svg-ytb-dims {
	width: 30px;
	height: 20px;
}

