.svg-advantage-1-dims {
	width: 61px;
	height: 54.19px;
}

.svg-advantage-10-dims {
	width: 60px;
	height: 60px;
}

.svg-advantage-11-dims {
	width: 55.1px;
	height: 53.91px;
}

.svg-advantage-12-dims {
	width: 58px;
	height: 53px;
}

.svg-advantage-2-dims {
	width: 57.406px;
	height: 60px;
}

.svg-advantage-3-dims {
	width: 60px;
	height: 58px;
}

.svg-advantage-4-dims {
	width: 51px;
	height: 47.84px;
}

.svg-advantage-5-dims {
	width: 24px;
	height: 24px;
}

.svg-advantage-6-dims {
	width: 58px;
	height: 55.91px;
}

.svg-advantage-7-dims {
	width: 61px;
	height: 60px;
}

.svg-advantage-8-dims {
	width: 41.2px;
	height: 59px;
}

.svg-advantage-9-dims {
	width: 58.99px;
	height: 60px;
}

.svg-angle-left-dims {
	width: 18px;
	height: 34px;
}

.svg-angle-right-dims {
	width: 18px;
	height: 34px;
}

.svg-arrow-next-dims {
	width: 9.01px;
	height: 16.01px;
}

.svg-arrow-prev-dims {
	width: 9.01px;
	height: 16.01px;
}

.svg-circle-check-mark-dims {
	width: 197.35px;
	height: 184.95px;
}

.svg-fcb-dims {
	width: 13px;
	height: 23px;
}

.svg-igm-dims {
	width: 381px;
	height: 381px;
}

.svg-ljr-dims {
	width: 335.65px;
	height: 336.03px;
}

.svg-magnifier-dims {
	width: 35px;
	height: 36px;
}

.svg-phone-dims {
	width: 1000px;
	height: 1000px;
}

.svg-plus-1-dims {
	width: 47.2px;
	height: 49.77px;
}

.svg-plus-10-dims {
	width: 39.01px;
	height: 39px;
}

.svg-plus-11-dims {
	width: 49.5px;
	height: 59.65px;
}

.svg-plus-12-dims {
	width: 46px;
	height: 42px;
}

.svg-plus-13-dims {
	width: 39px;
	height: 47px;
}

.svg-plus-14-dims {
	width: 42px;
	height: 40px;
}

.svg-plus-15-dims {
	width: 43px;
	height: 43px;
}

.svg-plus-16-dims {
	width: 39px;
	height: 42.93px;
}

.svg-plus-17-dims {
	width: 37px;
	height: 48px;
}

.svg-plus-18-dims {
	width: 50px;
	height: 43px;
}

.svg-plus-19-dims {
	width: 43px;
	height: 33px;
}

.svg-plus-2-dims {
	width: 51.51px;
	height: 34.33px;
}

.svg-plus-3-dims {
	width: 51.49px;
	height: 47.2px;
}

.svg-plus-4-dims {
	width: 51.49px;
	height: 51.49px;
}

.svg-plus-5-dims {
	width: 51.49px;
	height: 49.63px;
}

.svg-plus-6-dims {
	width: 51.47px;
	height: 51.48px;
}

.svg-plus-7-dims {
	width: 43.77px;
	height: 51.49px;
}

.svg-plus-8-dims {
	width: 49.77px;
	height: 51.49px;
}

.svg-plus-9-dims {
	width: 49.77px;
	height: 42.05px;
}

.svg-star-dims {
	width: 18px;
	height: 17px;
}

.svg-vk-dims {
	width: 272.13px;
	height: 159.33px;
}

.svg-wedding-rule-1-dims {
	width: 52px;
	height: 52px;
}

.svg-wedding-rule-2-dims {
	width: 27.8px;
	height: 57px;
}

.svg-ytb-dims {
	width: 30px;
	height: 20px;
}

