.page {
  &.franchise {
    .hero {
      padding-top: rem-calc(90);
      height: auto;
    }
  }
  .burger i {
    background-color: $white;
  }
  .navigation {
    margin-left: auto;
    margin-right: auto;
    // max-width: rem-calc(380);
  }
  .hero {
    // height: rem-calc(300);
    // height: 50vh;
    // min-height: rem-calc(200);
    // background-image: none;
    // background-attachment: initial;
  }
  .callback-phone {
    color: $white;
  }
  table {
    tbody {
      tr {
        & + tr {
          border-top: 1px solid #dbdbdb;
        }
      }
    }
    th,
    td {
      vertical-align: top;
    }
    th {
      line-height: unitless-calc(25, 18);
    }
    td {
      font-size: rem-calc(15);
      line-height: unitless-calc(26, 16);
    }
  }
}

.content-card {
  margin-bottom: rem-calc(20);
  padding: rem-calc(20 10);
  color: #575757;
  background-color: $white;
}

.content-card-title {
  font-size: rem-calc(24);
  line-height: 1;
}
