<div class="about section bg-elements">
  <div class="grid-container">
    <div class="content grid-x grid-padding-x" data-equalizer="about" data-equalize-on="medium">
      <div class="cell large-6" data-equalizer-watch="about">
        <h2 class="section-title">Почему мы?</h2>
        <h4 class="section-subtitle">Сеть кафе «Тарелка» сегодня это</h4>
        <ul>
          <li>Опыт в сфере питания с 2008 года</li>
          <li>Команда опытных профессионалов</li>
          <li>Проводим более 100 мероприятий ежегодно</li>
        </ul>
      </div>
      <!-- /.cell -->
      <div class="cell medium-6" data-equalizer-watch="about">
        <img src="assets/img/about/1.jpg" alt="" class="thumbnail">
      </div>
      <!-- /.cell -->
      <div class="cell medium-6">
        <img src="assets/img/about/2.jpg" alt="" class="thumbnail">
      </div>
      <!-- /.cell -->
      <div class="cell large-6">
        <div class="about-info">
          <blockquote>Соблюдаем строгие стандарты работы в сети кафе, производим полуфабрикаты и выпечку.</blockquote>
          <p>Готовим вкусно, используем современные технологии, проверенных поставщиков сырья и опытных специалистов.</p>
          <p>Нашу продукцию отличает неизменно высокое качество, широкий ассортимент и доступные цены, а нашу работу – мультиформатный
            подход к организации питания, от доставки домашних обедов до проведения масштабных банкетов, фуршетов и кофе-брейков.
            Организовываем мероприятия в любой точке города и края.</p>
        </div>
        <!-- /.about-info -->
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
  <img src="assets/img/dishes/4.png" class="bg-element bottom left" alt="">
</div>
<!-- /.about -->