<div class="advantages section dark text-center">
  <div class="blocks grid-container">
    <div class="grid-x grid-padding-x medium-up-2 large-up-4" data-equalizer="advantages" data-equalize-on="medium">
      <div class="cell">
        <div class="card">
          <div class="card-section">
            <div class="card-picture card-section">
              <svg class="icon" width="60" height="55">
                <use xlink:href="#advantage-1"></use>
              </svg>
            </div>
          </div>
          <div class="card-section" data-equalizer-watch="advantages">
            <h5 class="advantage-title">100% натуральные
              <br>и вкусные блюда</h5>
          </div>
        </div>
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="card">
          <div class="card-section">
            <div class="card-picture card-section">
              <svg class="icon" width="58" height="61">
                <use xlink:href="#advantage-2"></use>
              </svg>
            </div>
          </div>
          <div class="card-section" data-equalizer-watch="advantages">
            <h5 class="advantage-title">Быстрое и вежливое
              <br>обслуживание</h5>
          </div>
        </div>
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="card">
          <div class="card-section">
            <div class="card-picture card-section">
              <svg class="icon" width="60" height="58">
                <use xlink:href="#advantage-3"></use>
              </svg>
            </div>
          </div>
          <div class="card-section" data-equalizer-watch="advantages">
            <h5 class="advantage-title">Приятные цены</h5>
          </div>
        </div>
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="card">
          <div class="card-section">
            <div class="card-picture card-section">
              <svg class="icon" width="50" height="49">
                <use xlink:href="#advantage-4"></use>
              </svg>
            </div>
          </div>
          <div class="card-section" data-equalizer-watch="advantages">
            <h5 class="advantage-title">Радуем клиентов
              <br>с 2008 года</h5>
          </div>
        </div>
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.advantages -->