<footer class="footer">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6 medium-order-2 text-center">
        <div class="scl">
          <h4 class="scl-title">Присоединяйтесь</h4>
          <ul class="scl-menu menu simple align-center">
            <li>
              <svg class="icon" width="28" height="15">
                <use xlink:href="#vk"></use>
              </svg>
            </li>
            <li>
              <img src="assets/img/icons/okl.png" alt="">
            </li>
            <li>
              <svg class="icon" width="28" height="15">
                <use xlink:href="#vk"></use>
              </svg>
            </li>
            <li>
              <svg class="icon" width="28" height="15">
                <use xlink:href="#vk"></use>
              </svg>
            </li>
            <li>
              <svg class="icon" width="28" height="15">
                <use xlink:href="#vk"></use>
              </svg>
            </li>
            <li>
              <svg class="icon" width="28" height="15">
                <use xlink:href="#vk"></use>
              </svg>
            </li>
          </ul>
          <a href="#">Отзывы и предложения</a>
        </div>
        <!-- /.scl -->
      </div>
      <!-- /.cell -->
      <div class="cell medium-3 medium-order-1">
        <div class="logo text-center medium-text-left">
          <a href="#">
            <img src="assets/img/logo-plain.png" alt="">
          </a>
        </div>
        <div class="copyright">ООО, КафеТарелка, ИНН: 845156784 (с)</div>
      </div>
      <!-- /.cell -->
      <div class="cell medium-3 medium-order-3">
        <ul class="main-menu vertical menu simple">
          <li>
            <a href="#">Меню</a>
          </li>
          <li>
            <a href="#">Полуфабрикаты</a>
          </li>
          <li>
            <a href="#">О кафе</a>
          </li>
          <li>
            <a href="#">Франшиза</a>
          </li>
          <li>
            <a href="#">Адреса</a>
          </li>
        </ul>
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</footer>
<!-- /.footer -->