<div class="hero with-content">
  <div class="slider-wrapper">
    <img src="assets/img/bg-hero.jpg" alt="">
    <div id="hero-slider" class="hero-slider swiper-container text-center">
      <div class="swiper-wrapper">
        <div class="hero-slide swiper-slide">
          <div class="hero-slide-inner">
            <div class="grid-container">
              <div class="grid-x align-middle">
                <div class="cell medium-10 medium-offset-1">
                  <div class="hero-content">
                    <h1 class="page-title">Кормим людей вкусно и качественно</h1>
                    <button class="button">Заказать обслуживание</button>
                  </div>
                </div>
                <!-- /.cell -->
              </div>
              <!-- /.grid-x -->
            </div>
            <!-- /.grid-container -->
          </div>
          <!-- /.hero-slide-inner -->
        </div>
        <!-- /.hero-slide -->
        <div class="hero-slide swiper-slide">
          <div class="hero-slide-inner">
            <div class="grid-container">
              <div class="grid-x align-middle">
                <div class="cell medium-10 medium-offset-1">
                  <div class="hero-content">
                    <div class="page-title h1">Кормим людей вкусно и качественно</div>
                    <button class="button">Заказать обслуживание</button>
                  </div>
                </div>
                <!-- /.cell -->
              </div>
              <!-- /.grid-x -->
            </div>
            <!-- /.grid-container -->
          </div>
          <!-- /.hero-slide-inner -->
        </div>
        <!-- /.hero-slide -->
        <div class="hero-slide swiper-slide">
          <div class="hero-slide-inner">
            <div class="grid-container">
              <div class="grid-x align-middle">
                <div class="cell medium-10 medium-offset-1">
                  <div class="hero-content">
                    <div class="page-title h1">Кормим людей вкусно и качественно</div>
                    <button class="button">Заказать обслуживание</button>
                  </div>
                </div>
                <!-- /.cell -->
              </div>
              <!-- /.grid-x -->
            </div>
            <!-- /.grid-container -->
          </div>
          <!-- /.hero-slide-inner -->
        </div>
        <!-- /.hero-slide -->
        <div class="hero-slide swiper-slide">
          <div class="hero-slide-inner">
            <div class="grid-container">
              <div class="grid-x align-middle">
                <div class="cell medium-10 medium-offset-1">
                  <div class="hero-content">
                    <div class="page-title h1">Кормим людей вкусно и качественно</div>
                    <button class="button">Заказать обслуживание</button>
                  </div>
                </div>
                <!-- /.cell -->
              </div>
              <!-- /.grid-x -->
            </div>
            <!-- /.grid-container -->
          </div>
          <!-- /.hero-slide-inner -->
        </div>
        <!-- /.hero-slide -->
        <div class="hero-slide swiper-slide">
          <div class="hero-slide-inner">
            <div class="grid-container">
              <div class="grid-x align-middle">
                <div class="cell medium-10 medium-offset-1">
                  <div class="hero-content">
                    <div class="page-title h1">Кормим людей вкусно и качественно</div>
                    <button class="button">Заказать обслуживание</button>
                  </div>
                </div>
                <!-- /.cell -->
              </div>
              <!-- /.grid-x -->
            </div>
            <!-- /.grid-container -->
          </div>
          <!-- /.hero-slide-inner -->
        </div>
        <!-- /.hero-slide -->
      </div>
    </div>
    <!-- /.hero-slider -->
    <div id="hero-slider-pagination" class="swiper-pagination"></div>
  </div>
  <!-- /.slider-wrapper -->
  <div class="grid-container">
    <div class="hero-picture">
      <img src="assets/img/cook.png" class="show-for-xlarge" alt="">
    </div>
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.hero -->