<div class="hero section gray">
  <div id="hero-slider" class="hero-slider slider swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero-item text-center">
          <h1 class="page-title">Кормим людей вкусно и качественно</h1>
          <button class="button">Заказать обслуживание</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero-item text-center">
          <h1 class="page-title">Кормим людей вкусно и качественно</h1>
          <button class="button">Заказать обслуживание</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero-item text-center">
          <h1 class="page-title">Кормим людей вкусно и качественно</h1>
          <button class="button">Заказать обслуживание</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero-item text-center">
          <h1 class="page-title">Кормим людей вкусно и качественно</h1>
          <button class="button">Заказать обслуживание</button>
        </div>
      </div>
    </div>
    <div id="hero-slider-pagination" class="swiper-pagination"></div>
  </div>
  <!-- /.hero-slider -->
  <img src="assets/img/cook.png" class="decor-picture" alt="">
</div>
<!-- /.hero -->