<div class="map-wrapper">
  <div id="map" class="map" width="100%" height="700"></div>
  <!-- /.map -->
  <div class="map-contacts text-center">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell large-3">
          <div class="map-contact">
            <button class="map-address button" type="button" data-toggle="map-address-1" data-close-on-click="true">
              <span class="text-info">ул. Саранская 3</span>
            </button>
            <div class="map-address-pane dropdown-pane" id="map-address-1" data-dropdown data-position="bottom" data-alignment="center">
              <div class="map-address-info">
                <h6 class="map-address-title">Режим работы</h6>
                пн-пт: 10-18
                <br> сб вс: банкетные дни</div>
            </div>
          </div>
        </div>
        <!-- /.cell -->
        <div class="cell large-3">
          <div class="map-contact">
            <button class="map-address button" type="button" data-toggle="map-address-2" data-close-on-click="true">
              <span class="text-info">ул. Подлесная 13а</span>
            </button>
            <div class="map-address-pane dropdown-pane" id="map-address-2" data-dropdown data-position="bottom" data-alignment="center">
              <div class="map-address-info">
                <h6 class="map-address-title">Режим работы</h6>
                пн-пт: 10-18
                <br> сб вс: банкетные дни</div>
            </div>
          </div>
        </div>
        <!-- /.cell -->
        <div class="cell large-3">
          <div class="map-contact">
            <button class="map-address button" type="button" data-toggle="map-address-3" data-close-on-click="true">
              <span class="text-info">ул. Докучаева 42</span>
            </button>
            <div class="map-address-pane dropdown-pane" id="map-address-3" data-dropdown data-position="bottom" data-alignment="center">
              <div class="map-address-info">
                <h6 class="map-address-title">Режим работы</h6>
                пн-пт: 10-18
                <br> сб вс: банкетные дни</div>
            </div>
          </div>
        </div>
        <!-- /.cell -->
        <div class="cell large-3">
          <div class="map-contact">
            <button class="map-address button" type="button" data-toggle="map-address-4" data-close-on-click="true">
              <span class="text-info">б-р Гагарина 74</span>
            </button>
            <div class="map-address-pane dropdown-pane" id="map-address-4" data-dropdown data-position="bottom" data-alignment="center">
              <div class="map-address-info">
                <h6 class="map-address-title">Режим работы</h6>
                пн-пт: 10-18
                <br> сб вс: банкетные дни</div>
            </div>
          </div>
        </div>
        <!-- /.cell -->
      </div>
      <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.map-contacts -->
</div>
<!-- /.map-wrapper -->