<div class="map-wrapper">
  <div id="map" class="map" width="100%" height="300"></div>
  <!-- /.map -->
  <div class="map-contacts text-center">
    <div class="grid-container">
      <div class="grid-x medium-up-2 large-up-4">
        <div class="cell">
          <button class="map-address button" type="button" data-toggle="map-address-1">ул. Саранская 3</button>
          <div class="map-address-info dropdown-pane" id="map-address-1" data-dropdown data-position="bottom" data-alignment="center">
            <h6 class="map-address-title">Режим работы</h6>
            <br> пн-пт: 10-18
            <br> сб вс: банкетные дни
          </div>
        </div>
        <!-- /.cell -->
        <div class="cell">
          <button class="map-address button" type="button" data-toggle="map-address-2">ул. Саранская 3</button>
          <div class="map-address-info dropdown-pane" id="map-address-2" data-dropdown data-position="bottom" data-alignment="center">
            <h6 class="map-address-title">Режим работы</h6>
            <br> пн-пт: 10-18
            <br> сб вс: банкетные дни
          </div>
        </div>
        <!-- /.cell -->
        <div class="cell">
          <button class="map-address button" type="button" data-toggle="map-address-3">ул. Саранская 3</button>
          <div class="map-address-info dropdown-pane" id="map-address-3" data-dropdown data-position="bottom" data-alignment="center">
            <h6 class="map-address-title">Режим работы</h6>
            <br> пн-пт: 10-18
            <br> сб вс: банкетные дни
          </div>
        </div>
        <!-- /.cell -->
        <div class="cell">
          <button class="map-address button" type="button" data-toggle="map-address-4">ул. Саранская 3</button>
          <div class="map-address-info dropdown-pane" id="map-address-4" data-dropdown data-position="bottom" data-alignment="center">
            <h6 class="map-address-title">Режим работы</h6>
            <br> пн-пт: 10-18
            <br> сб вс: банкетные дни
          </div>
        </div>
        <!-- /.cell -->
      </div>
      <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.map-contacts -->
</div>
<!-- /.map-wrapper -->