<div class="menus section text-center">
  <div class="grid-container">
    <h2 class="section-title">Наши меню</h2>
    <div class="grid-x grid-padding-x medium-up-2 large-up-3">
      <div class="cell">
        <div class="custom-card card">
          <div class="card-picture">
            <a href="#">
              <img src="assets/img/menus/1.jpg" alt="">
            </a>
          </div>
          <div class="card-info card-section">
            <h3 class="card-title">
              <a href="#">Деловой обед</a>
            </h3>
            <p>Кормим комплексным обедом ежедневно более 1000 человек. Доставляем горячие обеды и выпечку в любую точку города</p>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="custom-card card">
          <div class="card-picture">
            <a href="#">
              <img src="assets/img/menus/1.jpg" alt="">
            </a>
          </div>
          <div class="card-info card-section">
            <h3 class="card-title">
              <a href="#">Деловой обед</a>
            </h3>
            <p>Кормим комплексным обедом ежедневно более 1000 человек. Доставляем горячие обеды и выпечку в любую точку города</p>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="custom-card card">
          <div class="card-picture">
            <a href="#">
              <img src="assets/img/menus/1.jpg" alt="">
            </a>
          </div>
          <div class="card-info card-section">
            <h3 class="card-title">
              <a href="#">Деловой обед</a>
            </h3>
            <p>Кормим комплексным обедом ежедневно более 1000 человек. Доставляем горячие обеды и выпечку в любую точку города</p>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="custom-card card">
          <div class="card-picture">
            <a href="#">
              <img src="assets/img/menus/1.jpg" alt="">
            </a>
          </div>
          <div class="card-info card-section">
            <h3 class="card-title">
              <a href="#">Деловой обед</a>
            </h3>
            <p>Кормим комплексным обедом ежедневно более 1000 человек. Доставляем горячие обеды и выпечку в любую точку города</p>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="custom-card card">
          <div class="card-picture">
            <a href="#">
              <img src="assets/img/menus/1.jpg" alt="">
            </a>
          </div>
          <div class="card-info card-section">
            <h3 class="card-title">
              <a href="#">Деловой обед</a>
            </h3>
            <p>Кормим комплексным обедом ежедневно более 1000 человек. Доставляем горячие обеды и выпечку в любую точку города</p>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="custom-card card">
          <div class="card-picture">
            <a href="#">
              <img src="assets/img/menus/1.jpg" alt="">
            </a>
          </div>
          <div class="card-info card-section">
            <h3 class="card-title">
              <a href="#">Деловой обед</a>
            </h3>
            <p>Кормим комплексным обедом ежедневно более 1000 человек. Доставляем горячие обеды и выпечку в любую точку города</p>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.cell -->

    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.menus -->