<div class="menus section text-center">
  <div class="blocks grid-container">
    <h2 class="section-title">Наши меню</h2>
    <div class="grid-x grid-padding-x medium-up-2 large-up-3" data-equalizer="menus" data-equalize-on="medium">
      <div class="cell">
        <div class="card" data-equalizer-watch="menus">
          <div class="card-picture">
            <a href="#">
              <img src="assets/img/menus/1.jpg" alt="">
            </a>
          </div>
          <div class="card-info card-section">
            <h3 class="card-title">
              <a href="#">Деловой обед</a>
            </h3>
            <p>Кормим комплексным обедом ежедневно более 1000 человек. Доставляем горячие обеды и выпечку в любую точку города</p>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="card" data-equalizer-watch="menus">
          <div class="card-picture">
            <a href="#">
              <img src="assets/img/menus/2.jpg" alt="">
            </a>
          </div>
          <div class="card-info card-section">
            <h3 class="card-title">
              <a href="#">Свадьба</a>
            </h3>
            <p>Предложим оригинальные решения для организации самого важного дня для влюбленных с учетом пожеланий молодоженов</p>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="card" data-equalizer-watch="menus">
          <div class="card-picture">
            <a href="#">
              <img src="assets/img/menus/3.jpg" alt="">
            </a>
          </div>
          <div class="card-info card-section">
            <h3 class="card-title">
              <a href="#">День рождения</a>
            </h3>
            <p>Различные сценарии и широкое банкетное и фуршетное меню сделает праздник незабываемым</p>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="card" data-equalizer-watch="menus">
          <div class="card-picture">
            <a href="#">
              <img src="assets/img/menus/4.jpg" alt="">
            </a>
          </div>
          <div class="card-info card-section">
            <h3 class="card-title">
              <a href="#">Выпускной</a>
            </h3>
            <p>Найдем вкусный способ навсегда запомнить последний звонок и родных учителей</p>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="card" data-equalizer-watch="menus">
          <div class="card-picture">
            <a href="#">
              <img src="assets/img/menus/5.jpg" alt="">
            </a>
          </div>
          <div class="card-info card-section">
            <h3 class="card-title">
              <a href="#">Детский праздник</a>
            </h3>
            <p>Правильно подберем меню специально для самых маленьких клиентов</p>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="card" data-equalizer-watch="menus">
          <div class="card-picture">
            <a href="#">
              <img src="assets/img/menus/6.jpg" alt="">
            </a>
          </div>
          <div class="card-info card-section">
            <h3 class="card-title">
              <a href="#">Ритуальный обед</a>
            </h3>
            <p>Проводим в последний путь близких людей с соблюдением всех религиозных традиций </p>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.cell -->

    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.menus -->