<footer class="footer">
  <div class="grid-container">
    <div class="grid-x grid-padding-x text-center">
      <div class="footer-col logo-col cell medium-6 medium-order-2 large-4 large-order-1  medium-text-left">
        <div class="logo">
          <a href="#">
            <img src="assets/img/logo-plain.png" alt="">
          </a>
        </div>
        <div class="copyright show-for-medium">ООО, КафеТарелка, ИНН: 845156784 (с)</div>
      </div>
      <!-- /.cell -->
      <div class="footer-col scl-col cell medium-12 medium-order-1 large-4 large-order-2">
        <div class="scl">
          <h4 class="scl-title">Присоединяйтесь</h4>
          <ul class="scl-menu menu simple align-center align-middle">
            <li>
              <a href="#">
                <svg class="icon" width="28" height="15">
                  <use xlink:href="#vk"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/img/icons/okl.png" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <svg class="icon" width="19" height="19">
                  <use xlink:href="#igm"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg class="icon" width="30" height="20">
                  <use xlink:href="#ytb"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg class="icon" width="13" height="23">
                  <use xlink:href="#fcb"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg class="icon" width="26" height="26">
                  <use xlink:href="#ljr"></use>
                </svg>
              </a>
            </li>
          </ul>
          <a href="#" class="scl-link">Отзывы и предложения</a>
        </div>
        <!-- /.scl -->
      </div>
      <!-- /.cell -->
      <div class="footer-col menu-col cell medium-6 medium-order-3 large-4 large-order-3  medium-text-left">
        <ul class="main-menu vertical menu simple">
          <li>
            <a href="#">Меню</a>
          </li>
          <li>
            <a href="#">Новости</a>
          </li>
          <li>
            <a href="#">О кафе</a>
          </li>
          <li>
            <a href="#">Адреса</a>
          </li>
        </ul>
        <div class="copyright hide-for-medium">ООО, КафеТарелка, ИНН: 845156784 (с)</div>
        <div class="copyright">Разработан в
          <a href="#">Рецепты Рекламы</a>
        </div>
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</footer>
<!-- /.footer -->