<div class="head-wrapper" data-sticky-container>
  <header class="head sticky" data-sticky data-sticky-on="small" data-options="marginTop:0;" style="width:100%">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell small-2 medium-8 medium-order-2 large-5">
          <button type="button" class="burger hide-for-medium" data-open="offCanvas">
            <i></i>
            <i></i>
            <i></i>
          </button>
          <nav class="navigation show-for-medium">
            <ul class="main-menu menu simple">
              <li>
                <a href="#">Меню</a>
              </li>
              <li>
                <a href="#">Новости</a>
              </li>
              <li>
                <a href="#">О кафе</a>
              </li>
              <li>
                <a href="#">Адреса</a>
              </li>
            </ul>
          </nav>
          <!-- /.navigation -->
        </div>
        <!-- /.cell -->
        <div class="cell small-8 medium-3 medium-order-1 large-4">
          <div class="logo text-center medium-text-left">
            <a href="/">
              <img src="assets/img/logo-white.png" alt="">
            </a>
          </div>
        </div>
        <!-- /.cell -->
        <div class="cell small-2 medium-1 medium-order-3 large-3 flex-container align-right">
          <div class="callback">
            <a href="tel:+78005557155" class="callback-phone">
              <svg class="icon hide-for-large" width="24" height="24">
                <use xlink:href="#phone"></use>
              </svg>
              <span class="callback-phone-text show-for-large">8&nbsp;800&nbsp;555&nbsp;71&nbsp;55</span>
            </a>
            <div class="callback-info show-for-large">Телефон
              <a href="#">в Перми</a>
            </div>
          </div>
        </div>
        <!-- /.cell -->
      </div>
      <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->

  </header>
  <!-- /.head -->
</div>
<!-- /.head-wrapper -->