<nav aria-label="Pagination">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Page 1">1</a>
    </li>
    <li class="pagination-previous">
      <a href="#" aria-label="Previous page">
        <span class="show-for-sr">Страница</span>
        <svg class="icon" width="9" height="16">
          <use xlink:href="#angle-prev-gray"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" aria-label="Page 44">44</a>
    </li>
    <li>
      <a href="#" aria-label="Page 45">45</a>
    </li>
    <li class="current">
      <span class="show-for-sr">You're on page</span> 46</li>
    <li>
      <a href="#" aria-label="Page 47">47</a>
    </li>
    <li>
      <a href="#" aria-label="Page 48">48</a>
    </li>
    <li class="pagination-next">
      <a href="#" aria-label="Next page">
        <span class="show-for-sr">Страница</span>
        <svg class="icon" width="9" height="16">
          <use xlink:href="#angle-next-gray"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" aria-label="Page 237">237</a>
    </li>
  </ul>
</nav>