{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Тарелка</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" media="all and (min-width: 960px)">
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>

  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> body}}
  <div class="sprite-container"> {{> sprite}} </div>

  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 57.971901, lng: 56.244853 },
        zoom: 16,
        disableDefaultUI: true,
        // gestureHandling: 'none',
        zoomControl: false
      });

      var marker = new google.maps.Marker({
        position: { lat: 57.971901, lng: 56.244853 },
        map: map
      });

      // map.behaviors.disable(['scrollZoom', 'drag', 'rightMouseButtonMagnifier']);
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTBBV7bHzXujhrXUQoCCYlnPG5y-U9414&amp;callback=initMap" async
    defer></script>
  <script src="{{root}}assets/js/app.js"></script>
</body>

</html>